{% extends "layout.html" %}

{% block title %}Reseptikirja{% endblock %}

{% block content %}
<h2>Reseptit</h2>

{% for recipe in recipes %}
<div class="recipe">
  <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> <br />
Reseptin lisääjä: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br />
Arvostelujen määrä: {{ recipe.ratings_count }} <br />
  {% if recipe.average_rating %}
    Arvostelujen keskiarvo: {{ recipe.average_rating }} / 5
  {% else %}
    Ei arvosteluja vielä
  {% endif %}
</div>
{% endfor %}
</ul>
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}